.img {
    width: 20px;
    height: 20px;
}

.header {
    display: flex;
    height: 4rem;
    padding: 0.8em 1em;
    border-bottom: 1px solid #EAEAEA;
    color: black;
    background: white;
}

.menu {
    width: 100%;
}

ul {
    width: 100%;
    list-style: none;
    text-align: center;
}

.menu li {
    display: inline-block;
    padding: 6px 12px;
    margin: 0px 5px 0px 5px;
    font-size: 0.8rem;
    border-radius: 20px;
    cursor: pointer;
   
}

.on {
    color: #FFF;
    background: #030303;
}

.off {
    border: 1px solid #BDBDBD;    
    background: #EAEAEA;
}


.logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.input {
    flex-basis: 100%; /* flex 에서 넓이가 꽉 차게 */
    font-size: 1.2rem;
    outline: 0;
}

.button {
    background-color: #EAEAEA;
    outline: 0;
}